/* 公共样式start */
body {
    width: 100%;
    height: 100vh;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 16px;
    color: #545454;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button:disabled {
    background-color: #C8C8C8;
    pointer-events: none;
    opacity: 0.7;
    cursor: default;
}

button:enabled {
    background-color: #29A243;
    cursor: pointer;
}

/* 公共样式end */

.report-content {
    height: 100vh;
    padding: 10px;
    padding-top: calc(20vh);
    padding-bottom: calc(30vh);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 60%;
}

.report-item {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-content label {
    width: 25%;
    display: inline-block;
    text-align: justify;
    text-align-last: justify;
}

.report-content input {
    width: 55%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #E2E2E2;
    margin-left: 10px;
    box-sizing: border-box;
}

.report-content .input-code {
    width: 26%;
    padding: 5px;
    border: 1px solid #E2E2E2;
    margin-left: 10px;
    box-sizing: border-box;
}

.report-content .button-code {
    width: 28%;
    height: 30px;
    margin-left: 1%;
    color: #FFF;
    font-size: 16px;
}

.report-content .button-code:hover {
    box-shadow: 0px 0px 3px black;
}

#warning {
    margin-top: 10px;
    display: none;
}

.report-content .query {
    width: 50%;
    padding: 8px;
    border-radius: 3px;
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
}